
*{
	margin: 0px;
	box-sizing: border-box;
}
p {
	font-size: 15px;
	padding: 15px;
	margin-right: auto;
	margin-top: 30px;
	margin-left: auto;
	width: 95%;
}
/* To position the "Our Menu" text */
h1 {
	font-size: 36px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}
body {
	font-family: cursive;
	vertical-align: middle;	
	margin: 10px;
}
h2 {
	text-align: center;
	width: 100px;
}

/* Simple Responsive Framework. */
.row {
	width: 100%;
}

.menu, h2{
	border: 1px solid #000000;
}
.menu{
	background-color: #A9A9A9;
}

.borderDiv{
	border: 1px solid #000000;
}

/* Setting the titles to unique colour for every menu item */
#header1{
	background-color: yellow;
}
#header2{
	background-color: red;
}
#header3{
	background-color: #00AAFF;
}

#menu1, #menu2, #menu3{
	height: 33%;
}

/* For placing the headings inside the div*/
div > h2 {
	float: right;
}

/* For spacing between the stacks */
@media(max-width: 767px){
	.menu{
		margin: 10px;
	}
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {

	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
		border: 10px solid #FFFFFF;
	}
	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33%;
	}
	.col-md-5 {
		width: 41.66%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33%;
	}
	.col-md-8 {
		width: 66.66%;
	}
	.col-md-9 {
		width: 74.99%;
	}
	.col-md-10 {
		width: 83.33%;
	}
	.col-md-11 {
		width: 91.66%;
	}
	.col-md-12 {
		width: 100%;
	}
}
/* Large devices */
@media (min-width: 992px){

	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
		border: 10px solid #FFFFFF;
	}
	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.33%;
	}
	.col-lg-5 {
		width: 41.66%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33%;
	}
	.col-lg-8 {
		width: 66.66%;
	}
	.col-lg-9 {
		width: 74.99%;
	}
	.col-lg-10 {
		width: 83.33%;
	}
	.col-lg-11 {
		width: 91.66%;
	}
	.col-lg-12 {
		width: 100%;
	}
}
